body{
    padding: 0;
    margin: 0;
}

#header{
    height: 200px;
}

#header div{
    margin: auto;
    padding-top: .5rem;
    
}

#header div p{
    font-size: 1.5rem;
    font-weight: 100;
    padding: .5rem;
    color: #526ba2;
}

#navbar{
 padding: 0;
 margin: 0;
}

button.navbar-toggler{
    margin: auto;
    border: none;
    width: 100%;
}

#navlinks{
    margin: auto;
}

#welcome{
    background-image: url("/imgs/adult-indoors-laptops.jpg");
    background-size: cover;
    height: 60rem;
}

#welcome1{
    margin: auto;
    font-weight: 100;  
    font-size: 6em;
    margin: auto;
    margin-top: 20rem;
}

#welcome1 h6{
    font-size: 20px;
}

#about{
    /* background-color: darkblue; */
    height: 60rem;

}

#getTouch{
    height: 45rem;
    border: 5rem solid #f9d42c;
}

#img2{
    margin-top: 8rem;
    margin-left: 30rem;
    
}

#box{
    background-color: #526ba2;
    width: 465px;
    height: 545px;
    margin-top: -38rem;
    margin-left: 60rem;
}

#bh1{
    max width: 415px;
    font-weight: 100;
    font-size: 2.25rem;
}

#bp1{
    max width: 415px;
    font-weight: 100;
    font-size: 1.5rem;

}

#footer{
    margin: auto;
    padding: 1.25rem;
}

/* Learning Page */

#learning{
    background-color: #526BA2;
    height: 98rem;
    color: White;
    font-weight: 100;
    margin: auto;
}

#text{
    margin-left: 35rem;
    margin-right: 35rem;
    margin-top: 7rem;
}

#textH{
    font-size: 2.75rem;
}

#buttons{
    padding: 2rem;
}

#buttons button{
    margin: 1rem;
}

#bar{
    height: 460px;
    width: 100%;
    background-color: #f9d42c;
    color: #464b55 ;
}

#head{
    margin-top: 10rem;
    font-size: 2.5rem;
    font-weight: 100;
}

#bar button{
    margin-top: 1rem;
}

/* Team */

#teamMembers{
    height: 45rem;
    border-bottom: 2px solid lightgray
}

#teamMembers h3{
    margin-top: 2rem;
    font-weight: 100;
    font-size: 1.75rem;
}

.tmID{
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
}

.tmBTN{
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

/* chat page */

.sched{
    border: 5rem solid #f9d42c;
    height: 620px;
    width: 100%;
}

.sched #stext{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    font-weight: 100;
}

.sched #stext h1{
    margin-bottom: 1rem;
}

.sched #sImg{
    height: 460px;
    width:840px;
}

/* FAQ */

.faqBar{
    height: 30rem;
    background-color: #f9d42c;
}

.faqBar #ftext{
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
}

.faqBar #ftext h1{
    margin-bottom: 1.5rem;
}

.faqBar #ftext p{
    font-size: 18px;
    margin-bottom: 3rem;
}

#col1{
    margin-top: 10rem;
    margin-left: 20rem;
    margin-right: 20rem;
    font-weight: 100;
}

#col1 .faqItem{
    margin-bottom: 3rem;
}

#col1 .faqItem h2{
    margin-bottom: 1.5rem;
}



